
    
body {
    background-size: cover;
}

body {
    text-align: centers 
}

h2 {
    text-align: center
}

img {
    align-content: center
}    
a { 
    color: black
}

a { 
    font-style: italic
}

a { 
   font-weight: bolder
}
